body{
  background-color: #191a19;
}
header{
  background-color: hsl(43, 34%, 62%);
}
#headerH1{
  background-color: hsl(43, 34%, 62%);
}
#mainH1{
  background-color: tomato;
}
#audioH1{
  background-color: turquoise;
}
.written{
  color: rgb(242, 252, 245);
}
#footer{
  background-color: hsl(43, 34%, 62%);
}

