@font-face {
  src: url(fonts/BitcountSingleInk-VariableFont_CRSV,ELSH,ELXP,SZP1,SZP2,XPN1,XPN2,YPN1,YPN2,slnt,wght.ttf);
  font-family: "Bitcount Single Ink";
}
body{
  background-color: #191a19;
  margin: 30px;
  border: 3px solid;
  display: flow-root;
  overflow: auto;
}
header{
  background-color: hsl(43, 34%, 62%);
}
#headerH1{
  font-family: "Bitcount Prop Double Ink";
  border:3px groove #c2ffca;
  background-color: hsl(42, 36%, 95%);
}
#mainH1{
  background-color: tomato;
  border: 2px outset #c2ffca;
  border-radius: 5px;
  text-shadow: 2px 2px 2px white;
}
#box1{
  width: 10px;
  height: 10px;
  background-color: #fb4909;
  box-shadow: 3px 3px #f4955b;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
#paragraph{
  border-bottom: 3px solid yellowgreen;
  border-top: 3px solid yellowgreen;
  border-left: 3px solid yellowgreen;
  border-right: 3px solid yellowgreen;
}
#audioH1{
  background-color: turquoise;
  border-style: outset;
  border-width: 2px;
  border-color: #c2ffca;
  border-radius: 5px;
  text-shadow: 2px 2px 2px white;
}
#box2{
  width: 10px;
  height: 10px;
  background-color: darkcyan;
  box-shadow: 3px 3px turquoise;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
#earth{
  border-style: outset;
  border-width: 2px;
  border-color: #c2ffca;
  border-radius: 5px;
  text-shadow: 2px 2px 2px white;
}
#box3{
  width: 10px;
  height: 10px;
  background-color: #06065e;
  box-shadow: 2px 2px 2px #2121ff;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.written{
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  font-style: oblique;
  color: rgb(242, 252, 245);
}
#footer{
  background-color: hsl(43, 34%, 62%);
}
#image1{
  float: right;
  margin-left: 10px;
}
#image2{
  float: right;
  margin-left: 10px;
}
#image3{
  float: right;
  margin-left: 10px;
}


